<div class="jumbotron container-fluid">
  <h3>Continue watching</h3>
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>
            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>
            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
        </ul>
      </div><!-- /Slide1 -->
      <div class="item">
        <ul class="thumbnails">
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
        </ul>
      </div><!-- /Slide2 -->
      <div class="item">
        <ul class="thumbnails">
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
          <li class="col-sm-3">
            <div class="fff">
              <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
              </div>

            </div>
          </li>
        </ul>
      </div><!-- /Slide3 -->
    </div>
    <nav>
      <ul class="control-box pager">
        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
      </ul>
    </nav>
  </div><!-- /#myCarousel -->

  <!-- /.control-box -->
  <!--<div id="demo" class="carousel slide" data-ride="carousel">-->

    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
      <!--<li data-target="#demo" data-slide-to="0" class="active"></li>-->
      <!--<li data-target="#demo" data-slide-to="1"></li>-->
      <!--<li data-target="#demo" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash; The slideshow &ndash;&gt;-->
    <!--<div class="carousel-inner">-->
      <!--<div class="item active">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="col-lg-2"><a href="#"><img src="../../../assets/handmaidstale.jpg" class="img-responsive"></a></div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<a class="left carousel-control" href="#demo" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
    <!--<a class="right carousel-control" href="#demo" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>-->
  <!--</div>-->
</div>

<script>
  // Carousel Auto-Cycle
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });

</script>

