<nav class="navbar navbar-dark bg-dark text-white" role="navigation" *ngIf="userService.userLoggedIn()">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/billboard">
              <img src="/src/assets/vi-logo-white.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>

          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <button (click)="edit()"  type="button" class="btn btn-secondary navbar-nav pull-right" id="edit-btn">Edit</button>
            <ul class="nav navbar-nav pull-right">

              <li class="leaf">
                <a
                  routerLink="/billboard"
                  title="Billboard">Billboard</a>
              </li>
              <li class="leaf">
                <a
                  routerLink="/bar"
                  title="bar">Food & Drinks</a>
              </li>
              <li class="leaf">
                <a
                  routerLink="/account"
                  title="account">My account</a>
              </li>
              <li class="leaf">
                <a
                  (click)="logout()"
                  title="logout">Logout</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
</nav>
